<% layout('layout') -%>


<div class="container">
    <div class="row">
        
        <div class="col-md-8">
            
            <img src="../image/<%= product.image %>" alt="image produit" class="product">
            
        </div>
        
        <div class="col-md-4 mt-50">
            <h3><%= product.name %></h3>
            <h4><%= product.price %>€</h4>
            
         <form class="" method="post">
             
             <div class="btn-group" role="group">
                 
              <input type="hidden" name="quantity" id="quantity" value="1">
                <button type="button" id="minus" class="btn btn-default">-</button>
                <button type="button" id="total" class="btn btn-default">1</button>
                <button type="button" id="plus" class="btn btn-default">+</button>
             </div>
             
             
             <div class="form-group mt-5">
                 <!-- Récuperation des données originales-->
                <input type="hidden" name="product_id" id="product_id" value="<%= product._id %>"> 
                <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>"> 
                <input type="hidden" name="priceValue" id="productprice" value="<%= product.price %>">
                <!-- Affichage des données-->
                
                <input type="text" name="item" class="form-control" value="<%= product.name %>"> 
                <h4 style="color:white"><span id="priceValue"><%= product.price %></span>€</h4>
                <br>
                
                
                <% if(user){ %>
                <div class="mt-3">
                    
                 <a><button type="submit" class="btn btn-warning">Ajouter au panier</button></a> 
                    
                </div>
                
                <%} else { %>
                
                <div class="mt-3">
                    
                 <a href="/signup" class="btn btn-secondary">Pour commander inscrivez vous ou connectez vous</a> 
                    
                </div>
                
                <% } %>
                
             </div>
             
             
             
             
         </form>   
            
        </div>
        
    </div>
    
    
</div>